<!DOCTYPE html>
<html>
  <head>
    <title>[BI-VWM] Vyhladavanie v Hypertexte</title> 
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>[BI-VWM] Vyhladavanie v Hypertexte</h1>
    <form method="post" action="/crawl">
      <select name="house" id="house">
        <option value="Baratheon">Baratheon</option>
        <option value="Lannister">Lannister</option>
        <option value="Stark">Stark</option>
        <option value="Tully">Tully</option>
        <option value="Targaryen">Targaryen</option>
        <option value="Greyjoy">Greyjoy</option>
        <option value="Martell">Martell</option>
        <option value="Arryn">Arryn</option>
      </select>
      <input type="submit">
    </form>
  </body>
</html>
